<head>
    <title> Login Page </title>
{{!-- <link rel="stylesheet" href="/assets/css/main.css"> --}}
<link rel="stylesheet" href="/assets/semantic/semantic.min.css"/>
		  <script src="/assets/semantic/semantic.min.js"></script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

</head>

<body>
<main>
<div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
<h1>{{searchDetail.firstName}} {{searchDetail.lastName}}  Info</h1>

    </div>
<div>       
<p>This website is used to display the details of the person based on their name and identifcation number</p>
</div>
<div>{{#if message}}
        <h3>{{message}}</h3>
    {{/if}}
</div>
<div>
<h2><a href="/employee/employeedetails">Want to search again?</a></h2>
</div>
</div>
<ul>
    <li>ID: {{searchDetail._id}}</li>
    <li>FirstName: {{searchDetail.firstName}}</li>
    <li>LastName: {{searchDetail.lastName}}</li>
    <li >Username: <span id="usernamedetail">{{searchDetail.username}}</span>  </li>
    <li>Email: {{searchDetail.email}}</li>
    <li>Total Hours: {{searchDetail.total_hours}}</li>
    <li>BasicSalary: {{searchDetail.basic_salary}}</li>
    <li>TotalSalary: {{searchDetail.total_salary}}</li>
    <li>ManagerName: {{searchDetail.manager_ID}}</li>
    <li>Paid: {{searchDetail.paidFlag}}</li>
    <li>payDate: {{searchDetail.payDate}}</li>
    <li>JobTitle: {{searchDetail.job_title}}</li>
</ul>
{{!-- <button id="button" type="button" class="button" >Last 10 Transactions</button> --}}
<input type="button" value="Last 10 Transaction"  id="button" >
<input type="button" value="Help" id="button" onclick="showForm()">

<form id="helpForm" method="post" action="/submit-help" style="display: none;">
    <label for="employeeID">Employee ID:</label>
    <input type="text" name="employeeID" id="employeeID" value="{{searchDetail.username}}">
    <br>
    <label for="managerID">Manager ID:</label>
    <input type="text"  name="managerID" id="managerID" value="{{searchDetail.manager_ID}}">
    <br>
    <label for="issue">Issue:</label>
    <input type="text" name="issue" id="issue">
    <br>
    <input type="submit" name="submit" id="submit" value="Submit">

</form>
</div> 
<ul id="demo">   
</ul>
</div>

 <div>
                <form   id="employee_update" action="/employee/update"  name="employee_update"  method='POST' >
                  <button type="submit"   id="{{searchDetail.username}}" class="button">Update Employee</button>  
                  <input id="{{searchDetail.username}}" name="updateMag" value="{{searchDetail.username}}" type="text" style="width:50px; font-size: xx-small; visibility:hidden">
                  </form>
</div>

     <script src="/transaction.js"> </script>  
     <script src="/employee.js"></script>
 </main>
<footer id="footer" style="font-family: Georgia,Serif;
		padding: 6em 0;
		background: black;
		color: #fff;
		text-align: center;">
		<p>&#169 2019 Payday : Focus on what matters,leave the rest on us!</p>				
</footer>
</body>
       