<h1>Employee Info</h1>
<p>This website is used to display the details of the person based on their name and identifcation number</p>
<form action="/details" method="GET"  >
<h2><a href="/search">Want to search again?</a></h2>
<ul>
    <li></li>
    <li>ID</li>
    <li>{{searchDetail.id}}</li>
    <li>FirstName</li>
    <li>{{searchDetail.firstName}}</li>
    <li>LastName</li>
    <li>{{searchDetail.lastName}}</li>
    <li>Email</li>
    <li>{{searchDetail.email}}</li>
    <li>Total Hours</li>
    <li>{{searchDetail.total_hours}}</li>
    <li>Office</li>
    <li>{{searchDetail.office}}</li>
    <li>BasicSalary</li>
    <li>{{searchDetail.basic_salary}}</li>
    <li>ManagerName</li>
    <li>{{searchDetail.manager_name}}</li>
    <li>payDate</li>
    <li>{{searchDetail.payDate}}</li>
    <li>JobTitle</li>
    <li>{{searchDetail.job_title}}</li>
    <li>ContactInfo</li>
    <li>{{searchDetail.emergency_contact}}</li>
    <li>LoginId</li>
    <li>{{searchDetail.user_login_id}}</li>
</ul>
</form>