<h1>Employee Info</h1>
<p>This website is used to display the details of the person based on their name and identifcation number</p>
<form action="/details" method="GET"  >
<h2><a href="/manager/{{_id}}">Want to search again?</a></h2>
<ul>
    <li>ID: {{searchDetail._id}}</li>
    <li>FirstName: {{searchDetail.firstName}}</li>
    <li>LastName: {{searchDetail.lastName}}</li>
    <li>Email: {{searchDetail.email}}</li>
    <li>Total Hours: {{searchDetail.total_hours}}</li>
    <li>BasicSalary: {{searchDetail.basic_salary}}</li>
    <li>TotalSalary: {{searchDetail.total_salary}}</li>
    <li>ManagerName: {{searchDetail.manager_name}}</li>
    <li>Paid: {{searchDetail.paidFlag}}</li>
    <li>payDate: {{searchDetail.payDate}}</li>
    <li>JobTitle: {{searchDetail.job_title}}</li>
    
</ul>
</form>