<h1>Employee Info</h1>

    <body>
        <main>
<div>       
<p>This website is used to display the details of the person based on their name and identifcation number</p>
    <script src="/js/transaction.js">  </script>  

<h2><a href="/employee/employeedetails">Want to search again?</a></h2>
<ul>
    <li>ID: {{searchDetail._id}}</li>
    <li>FirstName: {{searchDetail.firstName}}</li>
    <li>LastName: {{searchDetail.lastName}}</li>
    <li>Username: {{searchDetail.username}}</li>
    <li>Email: {{searchDetail.email}}</li>
    <li>Total Hours: {{searchDetail.total_hours}}</li>
    <li>BasicSalary: {{searchDetail.basic_salary}}</li>
    <li>TotalSalary: {{searchDetail.total_salary}}</li>
    <li>ManagerName: {{searchDetail.manager_ID}}</li>
    <li>Paid: {{searchDetail.paidFlag}}</li>
    <li>payDate: {{searchDetail.payDate}}</li>
    <li>JobTitle: {{searchDetail.job_title}}</li>
</ul>
<button id="button" type="button" class="button" >Last 10 Transactions</button>
</div> 

<div id="main2">
<ol id="attempts"></ol>
  <label  class="error" id="errortext" ></label>   
</div>
   
 </main>
 
</body>
       