
    <head>
      <link rel="stylesheet" href="/assets/semantic/semantic.min.css"/>
		  <script src="/assets/semantic/semantic.min.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            var salaryArray = [['Person', 'Salary']];
            var hoursArray = [['Person', 'Hours']];
                {{#each searchDetail.employees}}
                salaryArray.push(["{{username}}", {{total_salary}}]);
                {{/each}}

                {{#each employees}}
                hoursArray.push(["{{username}}", {{total_hours}}]);
                {{/each}}

            console.log(hoursArray)
                        console.log(salaryArray)


            google.charts.load('current', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawBarChart);



            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.

            function drawChart() {

                // Create the data table.
                var data = google.visualization.arrayToDataTable(salaryArray);
                // Set chart options

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
                var options = {
                    width: 600,
                  height: 400
                  }
                  chart.draw(data, options);
            }

            function drawBarChart(){
                var data = google.visualization.arrayToDataTable(hoursArray);
      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1]);

      var options = {
        title: "Working Hours",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
      }


      
</script>
            <link rel="stylesheet" type="text/css" href="/css/manager.css">
        <style>
            #overflowTest {
                max-height: 100px;
                overflow: scroll;
                padding-top: 1%;
            }
            #nobull{
              list-style-type:none;
              text-align: left;
              margin-left: 40%;
            }
        </style>
    </head>

    <body>
    <main>
      <div class="ui one column stackable center aligned page grid">
   <div class="column twelve wide">
       <h1>{{searchDetail.firstName}} {{searchDetail.lastName}} </h1>
<p>This website is used to display the details of the person based on their name and identifcation number</p>
     <i class="money bill alternate outline" size="large"></i>
  </div>
  
  </div>  

    {{!-- <h2><a href="/manager/">Want to search again?</a></h2> --}}
    <div class="ui grid">
    <div class="four wide column">
    <div class="ui labeled button" tabindex="0">
    <div class="ui blue button">
    <i class="address card"></i> Total Employees
  </div>
  <a class="ui basic blue left pointing label">
    {{searchDetail.employees.length}}
  </a>
  </div>
  </div>
  <div class="four wide column">
  <div class="ui labeled button" tabindex="0">
    <div class="ui blue button">
    <i class="money bill alternate outline"></i> Total Budget
  </div>
  <a class="ui basic blue left pointing label">
    {{searchDetail.budget}}
  </a>
  </div>
  </div>

  <div class="four wide column"></div>
  <div class="four wide column">
  <div class="ui labeled button" tabindex="0">
   <input class="ui secondary basic button" type="button" value="Log out" id="button" onclick="location.href = '/logout'">
  </div>
  </div>
  </div>
  
  <div class="ui grid">
  <div id="pieChart" class="four wide column"/>
  </div>
  
    <div class="four wide column"></div>
  <div id="columnchart_values" class="four wide column"></div>
  </div>
  <div class="ui one column stackable center aligned page grid">
  <div class="column fourteen wide">
   
  <ul id="nobull">

    
    <li >Username: <span id="usernamedetail">{{searchDetail.user_login_id}}</span></li>  
    <li>FirstName: {{searchDetail.firstName}}</li>
    <li>LastName: {{searchDetail.lastName}}</li>   
    <li>Email: {{searchDetail.email}}</li> 
    <li>Total Budget: {{searchDetail.budget}}</li>
    <li>Total Employees: {{searchDetail.employees.length}}</li>
    <li >Employees:
      <div>
                <form   id="search_employee"  action="/employee/search" method="POST" name="search_employee">
                  <label for="UsernameEmp">Search Username </label>
                  <input type= "text" id="SearchEmp" name="SearchEmp"  class="text" required="required" flag="False"/>
                  <button type="submit"   id="{{username}}" class="button"   >Search</button>  
                  </form>
     </div>



   {{#if userdata}}

    <div id="overflowTest">
  
          <ul >
              <li>
                <form   id="manager_details" action="/manager/manager_details"  name="manager_details"  method='POST' >
                 <a  href="/employee/empprof/{{userdata.username}}" id="{{userdata.username}}">{{userdata.username}} {{userdata.total_salary}} {{userdata.paidFlag}} </li></a>
                 <button type="submit"   id={{userdata.username}} class="button">Pay</button>  
                  <input id="{{userdata.username}}" name="payinput" value="{{userdata.username}}" type="text" style="width:50px; font-size: xx-small; visibility:hidden">
                  </form>

              </li>
          </ul>
               
          
             </li>
        </ul>
  </div>

  {{else}}

  <div id="overflowTest">
        {{#each searchDetail.employees}}
          <ul >
              <li>
                <form   id="manager_details" action="/manager/manager_details"  name="manager_details"  method='POST' >
                 <a  href="/employee/empprof/{{username}}" id="{{username}}">{{username}} {{total_salary}} {{paidFlag}} </li></a>
                 <button type="submit"   id={{username}} class="button">Pay</button>  
                  <input id="{{username}}" name="payinput" value="{{username}}" type="text" style="width:50px; font-size: xx-small; visibility:hidden">
                  </form>

              </li>
          </ul>
               
            {{/each}}
          
             </li>
        </ul>
  </div>


   {{/if}}

   
    
 


</ul>
     
           {{!-- <form id="update" name="update"  action="/manager/update"  method="POST">

       <button type="submit"   id={{searchDetail.user_login_id}} class="button">Update Details</button>  
      <input id="{{searchDetail.user_login_id}}" value="{{searchDetail.user_login_id}}" name="updateMag" value="{{searchDetail.user_login_id}}" type="text" style="width:50px; font-size: xx-small; visibility">
     </form> --}}
     <div>
                <form   id="manager_update" action="/manager/update"  name="manager_update"  method='POST' >
                  <button type="submit"   id="{{searchDetail.user_login_id}}" class="button">Update Manager</button>  
                  <input id="{{searchDetail.user_login_id}}" name="updateMag" value="{{searchDetail.user_login_id}}" type="text" style="width:50px; font-size: xx-small; visibility:hidden">
                  </form>
</div>
     </form>

<a></a>


    <input type="button" value="Last 10 Transaction" id="button_man">
    <div>
    <ul id="demo">
      <script src="/transaction_man.js"></script>
    </ul>
    </div>
    {{!-- <input type="button" value="Log out" id="button" onclick="location.href = '/logout'"> --}}
    
    <input type="button" value="Pending Tasks" id="pending"
           onclick="location.href='/manager/pending/{{searchDetail.user_login_id}}'">
    <input type="button" value="Tickets" id="tickets" onclick="showTickets()">
    <script src="/manager.js"></script>
    <ol id="ticketList">
        {{#if tickets}}
            {{#each tickets}}
                <li>Employee: {{this.employeeID}}, Issue: {{this.issue}}</li>
                <button id="{{this._id}}" onclick='resolveHelp("{{{this._id}}}")'>Resolve</button>
            {{/each}}
        {{else}}
            No tickets to show.
        {{/if}}

    </ol>
    </ul>
  </div>
</main>
<script src="/employee.js"></script>
  
</body>

