<!DOCTYPE html>
<html lang="en">
<h1>Manager Details</h1>
<p>This website is used to display the details of the person based on their name and identifcation number</p>
  <main>
<script>

  document.getElementById("some").style.visibility = "hidden";
}
</script>
<head>
<style>
#overflowTest {
  padding-left: 40px;
  padding-top: 20px;
  width: 80%;
  height: 50px;
  overflow: scroll;
  border: 1px solid #ccc;
}
</style>
</head>
<body>
  <h2><a href="/manager/">Want to search again?</a></h2>

<form   id="manager_details" action="/manager/manager_details"  name="manager_details"  method='POST' >
<ul>


    <li>ID: {{searchDetail._id}}</li>  
    <li>FirstName: {{searchDetail.firstName}}</li>
    <li>LastName: {{searchDetail.lastName}}</li>   
    <li>Email: {{searchDetail.email}}</li> 
    <li>Total Budget: {{searchDetail.budget}}</li>
    <li>Total Employees: {{searchDetail.employees.length}}</li>
    <li >Employees:
    
        {{#each searchDetail.employees}}  
          <ul id="overflowTest">
              <li>
                <a  href="/employee/empprof/{{username}}" id="{{username}}">{{username}} {{total_salary}} {{paidFlag}} </li></a>
                  <button type="submit"   id={{username}} class="button">Pay</button>  
                  <input id="payinput" name="payinput" value="{{username}}" type="text" style="width:50px; font-size: xx-small; visibility:hidden">
              </li>
          </ul>
               
             {{/each}}    




         
          
    </li>
</ul>





</form>

</main>
  
</body>

</html>
